:root {
  --accent-color-alpha: #651FFF20;
  --accent-color: #651FFF;
  --accent-color-light: #7C4DFF;
  --accent-color-dark: #6200EA;
  --window-background: #fff;
  --elevation-overlay: #fff;
  --elevation-overlay-2: #fff;
  --text-color: rgba(0, 0, 0, .87);
  --text-color-secondary: rgba(0, 0, 0, .6);
  --text-color-disabled: rgba(0, 0, 0, .3);
  --text-color-dark: #fff;
  --hover-color: rgba(128, 128, 128, .125);
  --pressed-color: rgba(128, 128, 128, .25);
  --border-radius-1x: 8px;
  --border-radius-2x: 16px;
  --border-radius-4x: 32px;
  --card-shadow: 0 4px 6px 0 rgba(0, 0, 0, .2);
  --background-dim: linear-gradient(135deg, rgba(0, 0, 0, .3), transparent) no-repeat center;
  --background-dim-2: linear-gradient(135deg, rgba(0, 0, 0, .5), transparent) no-repeat center;
}
.red {
  --accent-color-alpha: #ff174420;
  --accent-color: #ff1744;
  --accent-color-light: #ff5252;
  --accent-color-dark: #d50000;
}
.blue {
  --accent-color: #2979FF;
  --accent-color-alpha: #2979FF20;
  --accent-color-light: #448AFF;
  --accent-color-dark: #2962FF;
}
.indigo {
  --accent-color: #3D5AFE;
  --accent-color-light: #536DFE;
  --accent-color-dark: #304FFE;
}
.light-blue {
  --accent-color: #00B0FF;
  --accent-color-alpha: #00B0FF20;
  --accent-color-light: #40C4FF;
  --accent-color-dark: #0091EA;
}
.green {
  --accent-color-alpha: #10D03020;
  --accent-color: #10D030;
  --accent-color-light: #52d854;
  --accent-color-dark: #00bf28;
}
.red, .blue, .indigo, :root, .light-blue, .green {
  --accent-color-gradient: linear-gradient(90deg, var(--accent-color-light), var(--accent-color), var(--accent-color-dark));
}
:root.dark-theme {
  --window-background: #121212;
  --elevation-overlay: #1e1e1e;
  --elevation-overlay-2: #222222;
  --text-color: rgba(255, 255, 255, .87);
  --text-color-secondary: rgba(255, 255, 255, .6);
  --text-color-disabled: rgba(255, 255, 255, .3);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
::-webkit-scrollbar-thumb {
  background: #C1C1C1;
}
::-webkit-scrollbar-thumb:hover {
  background: #A8A8A8;
}
.dark-theme ::-webkit-scrollbar-track {
  background: #1e1e1e;
}
.dark-theme ::-webkit-scrollbar-thumb {
  background: #2c2c2c;
}
.dark-theme ::-webkit-scrollbar-thumb:hover {
  background: #373737;
}

/* major elements */
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  user-select: none;
}
html, body {
  font: 16px arial, sans-serif;
  color: var(--text-color);
  background: var(--window-background);
  line-height: 1.5;
  letter-spacing: .1px;
  padding: 0;
  margin: 0;
}
header, footer {
  position: fixed;
  height: 56px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 50;
  transition-duration: .25s;
}
header {
  top: 0;
}
footer {
  display: flex;
  bottom: 0;
  justify-content: space-evenly;
  color: var(--text-color-secondary);
}
.header-shadow, footer {
  box-shadow: 0 0 12px rgba(0,0,0,.2);
  background: var(--elevation-overlay);
}
.header-shadow .nav-icon.transparent {
  color: var(--text-color-secondary)
}
header h1 {
  height: 100%;
  display: inline-block;
  font-size: 1.17em;
  color: var(--text-color-secondary);
  line-height: 56px;
  margin: 0;
}
main {
  max-width: 720px;
  padding: 16px;
  margin: 0 auto;
}
.with.app-bar {
  margin-top: 56px;
}
.with.tab-bar {
  margin-bottom: 56px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h2 {
  margin: 8px 0;
}
.h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
img {
  max-width: 100%;
}
table, label, ul, ol, p, .p {
  color: var(--text-color-secondary);
}
ul, ol {
  padding-left: 24px;
}
ul, ol, ul > li, ol > li, p {
  margin: 8px 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border: 1px solid var(--hover-color);
  padding: 8px;
}
tr:nth-child(even) {
  background: var(--hover-color);
}
.card, button, select, input, textarea {
  background: var(--elevation-overlay);
  border-radius: var(--border-radius-4x);
  overflow: hidden;
  box-shadow: var(--card-shadow);
  transition-duration: .25s;
}
button, select, input, textarea {
  margin: 4px 0;
  outline: 0;
  border: 0;
  padding: 12px 24px;
  font-size: 14px;
}
button {
  text-align: center;
  background: var(--accent-color-gradient);
  color: var(--text-color-dark);
  cursor: pointer;
}
button:hover, .fab:hover {
  filter: brightness(.9);
}
button:active, .fab:active {
  filter: brightness(.8);
}
button.two {
  border-radius: var(--border-radius-2x);
}
select, input, textarea {
  display: block;
  width: 100%;
  margin: auto;
  color: var(--text-color);
  border-radius: var(--border-radius-1x);
}
.card:not(.modal-content) .card:not(.modal-content), .card:not(.modal-content) select, .card:not(.modal-content) input, .card:not(.modal-content) textarea, .achievement {
  background: var(--elevation-overlay-2);
}
textarea {
  height: 96px;
  font-family: arial, sans-serif;
  overflow-y: auto;
  resize: none;
}
select, input[type=text], input[type=number], textarea {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  border: .1px solid var(--hover-color);
}
input[type=range] {
  -webkit-appearance: none;
  box-shadow: none;
  background: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: var(--pressed-color);
  border-radius: var(--border-radius-1x);
  cursor: pointer;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  background: var(--pressed-color);
  border-radius: var(--border-radius-1x);
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: var(--accent-color);
  border-radius: var(--border-radius-1x);
  margin-top: -6px;
}
input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: var(--accent-color);
  border-radius: var(--border-radius-1x);
  border: 0;
  margin-top: -6px;
}
input[type=radio] {
  display: none;
}
input[type=radio] + label {
  display: inline-block;
  padding: 4px 16px;
  color: var(--text-color);
  border-radius: var(--border-radius-2x);
  border: 1px solid var(--text-color-disabled);
  cursor: pointer;
}
input[type=radio]:checked + label {
  color: var(--accent-color);
  border-color: var(--accent-color);
  background: var(--accent-color-alpha);
}
progress, .progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  align-self: center;
  background: var(--pressed-color);
  border-radius: var(--border-radius-1x);
  border: 0;
  overflow: hidden;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: var(--accent-color-gradient);
  border-radius: var(--border-radius-1x);
  transition: width .5s;
}
progress::-moz-progress-bar {
  background: var(--accent-color-gradient);
  border-radius: var(--border-radius-1x);
  transition: width .5s;
}
.progress {
  display: flex;
}
.progress > div {
  height: 100%;
  margin-left: -12px;
  background: var(--accent-color-gradient);
  border-radius: 0 var(--border-radius-1x) var(--border-radius-1x) 0;
  transition: width .5s;
}
svg {
  flex: none;
}
pre {
  overflow-x: auto;
  user-select: text;
}
details > summary > h2 {
  margin-bottom: 0;
}
details[open] > summary > h2 {
  margin-bottom: 8px;
}
details > summary > h2 > .material-icons-round:before {
  content: 'arrow_drop_down';
}
details[open] > summary > h2 > .material-icons-round:before {
  content: 'arrow_drop_up';
}
summary {
  outline: 0;
  list-style-type: none;
}

/* general elements */
.secondary-title {
  margin: 0;
  font-size: 32px;
}
.accent-text {
  color: var(--accent-color);
}
.card {
  display: block;
  border: .1px solid var(--hover-color);
  border-radius: var(--border-radius-2x);
  text-decoration: inherit;
  color: inherit;
}
.big-c-icon {
  font-size: 32px;
  color: var(--text-color-secondary);
  margin: 0 32px 0 16px;
}
.card > h2:first-child, .card > h3:first-child {
  margin-top: 0;
  margin-bottom: 8px;
}
.card > h3:last-child {
  margin-bottom: 0;
}
.card > p:last-child {
  margin-bottom: 2px;
}
h2 > .c-icon {
  color: var(--text-color-secondary);
  vertical-align: text-top;
}
.progress-text {
  margin: 0 8px;
  line-height: 16px;
  text-align: center;
}
.progress-control {
  width: 32px;
  height: 32px;
  line-height: 32px;
  flex: none;
  margin: -8px 0;
  padding: 0;
  border-radius: var(--border-radius-2x);
  font-weight: bold;
}
.progress-control.left {
  margin-right: 16px;
}
.progress-control.right {
  margin-left: 16px;
}
.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  height: 56px;
  width: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  background: var(--accent-color-gradient);
  color: var(--text-color-dark);
  box-shadow: var(--card-shadow);
  cursor: pointer;
  animation: fadeIn .5s;
}
.fab.raised {
  bottom: 72px;
}
.link-list {
  padding: 0;
  list-style-type: none;
}
.link-list > li {
  margin: 0;
}
.link-list > li > a, .link-list > li > span {
  display: block;
  padding: 16px;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}
.link-list .material-icons-round {
  margin-right: 16px;
  color: var(--accent-color);
  vertical-align: top;
}
.link-list.compact {
  padding: 8px 0;
}
.link-list.compact > li > a, .link-list.compact > li > span {
  padding: 8px 16px;
}
.big {
  font-size: 32px;
  color: var(--text-color-secondary);
}
.very-big {
  font-size: 64px;
}
.material-icons-round.accent {
  color: var(--accent-color);
  margin: 0;
}
.material-icons-round.text {
  --accent-color-gradient: var(--text-color-secondary);
  color: var(--text-color-secondary);
  text-decoration: none;
  margin: 0;
}
.material-icons-round.small {
  font-size: 16px;
}
.material-icons-round.img {
  position: relative;
  margin-right: 16px;
  padding: 16px;
  z-index: 1;
}
.material-icons-round.img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .16;
  z-index: 0;
  background: var(--accent-color);
  border-radius: var(--border-radius-1x);
}
.button-bar button {
  background: transparent;
  color: var(--accent-color);
  font-weight: bold;
  box-shadow: none;
}
.button-bar button:hover {
  background: var(--hover-color);
  color: var(--accent-color-dark);
}
.button-bar button:active {
  background: var(--pressed-color);
}
.question button {
  border: 2px solid transparent;
  border-radius: var(--border-radius-1x);
}
.question button.selected {
  border: 2px solid var(--accent-color);
}
.chip {
  border: 2px solid var(--hover-color);
  color: var(--text-color-secondary);
  cursor: pointer;
}
.chip.selected {
  border: 2px solid var(--accent-color);
}
.grid-span {
  grid-column: 1/3;
}

/* image cards */
.img-card {
  position: relative;
  border: 0;
}
.img-card > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img-card > .overlay {
  background: linear-gradient(45deg, rgba(0,0,0,.3), transparent);
}
.img-card > img {
  background: #000;
}
.img-card > h2 {
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-color-dark);
  text-shadow: 0 0 6px rgba(0,0,0,.5);
  text-align: center;
  font-size: 20px;
}

/* UX */
.search:empty:after {
  display: block;
  color: var(--text-color-secondary);
  padding: 16px;
  text-align: center;
  content: 'No results.'
}
.ux-list:empty:after {
  display: block;
  color: var(--text-color-secondary);
  padding: 16px;
  text-align: center;
  content: 'No entries.'
}
.medications:empty:after {
  display: block;
  color: var(--text-color-secondary);
  padding: 16px;
  text-align: center;
  content: 'Add medications by pressing the add button on the bottom right.'
}
.disabled {
  opacity: .38;
}

/* calendar */
#calendar button {
  padding: 12px;
  background: none;
  box-shadow: none;
  color: var(--text-color-secondary);
}
#calendar .no-stretch > button {
  min-height: 64px;
  align-items: start;
  display: grid;
}
#calendar button:hover {
  background: var(--hover-color);
}
#calendar button:active {
  background: var(--pressed-color);
}
#calendar .controls {
  float: right;
}
#calendar .controls button {
  margin: 0;
  padding: 8px 12px;
}
#calendar .today {
  background: var(--accent-color-alpha);
  color: var(--accent-color);
}

/* alignment */
.no-stretch > * {
  align-self: start;
}
.grid-1-2, .grid-1-3, .grid-2, .grid-3, .grid-7 {
  display: grid;
  grid-auto-flow: row dense;
}
.grid-1-2, .grid-1-3 {
  grid-template-columns: repeat(1, 1fr);
}
.grid-2 {
  grid-template-columns: repeat(2, 2fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 3fr);
}
.grid-7 {
  grid-template-columns: repeat(7, 7fr);
}
.inline-grid-2 {
  display: inline-grid;
  grid-template-columns: repeat(2, 2fr);
}
.gap-8 {
  grid-gap: 8px;
}
.gap-16 {
  grid-gap: 16px;
}
.flex {
  display: flex;
}
.flex.space {
  justify-content: space-around;
}
.flex.between {
  justify-content: space-between;
}
.flex.end {
  justify-content: flex-end;
}
.flex.center {
  align-items: center;
}
.hidden {
  display: none;
}
.text-start {
  text-align: start;
}
.text-center {
  text-align: center;
}
.ignore-page-padding {
  margin: -16px;
}
.vertical {
  margin: 48px -32px;
  width: 128px;
  transform: rotate(-90deg);
}
.vertical-container {
  justify-content: space-around;
  padding: 72px 64px;
  margin: -64px;
}
.reverse {
  transform: rotate(180deg);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.block {
  display: block;
  text-decoration: none;
}
.w-100 {
  width: 100%;
}
.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.mt-2 {
  margin-top: 2px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-32 {
  margin-top: 32px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-6 {
  margin-bottom: 6px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mt--4 {
  margin-top: -4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-48 {
  margin-top: 48px;
}
.ml-32 {
  margin-left: 32px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}
.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.p-2 {
  padding: 2px !important;
}
.p-16 {
  padding: 16px;
}
.pb-0 {
  padding-bottom: 0;
}
.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

/* animation */
.zoom-in-animation {
  animation: zoomIn .3s;
}
.fade-in-animation {
  animation: fadeIn .5s;
}
.fade-in-secondary-animation {
  animation: fadeInSecondary .5s;
}
@keyframes zoomIn {
  0% {
    transform: scale3d(.95, .95, .95);
  }
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
}
@keyframes fadeInSecondary {
  0%{
    opacity: 0;
    transform: translateY(+16px);
  }
}
@keyframes fadeInModal {
  0%{
    opacity: 0;
    transform: translate(-50%, calc(16px - 50%));
  }
}

/* navigation */
.tab {
  display: block;
  padding: 4px;
  border-radius: var(--border-radius-1x);
  color: var(--text-color-secondary);
  text-decoration: none;
  cursor: pointer;
}
.tab:hover, .link-list > *:hover {
  background: var(--hover-color);
}
.tab:hover, .link-list > *:active {
  background: var(--pressed-color);
}
.tab > .material-icons-round, .nav-icon {
  display: block;
  height: 48px;
  width: 48px;
  font-size: 24px;
  padding: 12px;
}
.nav-icon {
  float: left;
  margin: 4px;
  color: var(--text-color-secondary);
}
.nav-icon.transparent {
  color: var(--text-color-dark)
}
.with-nav-icon {
  padding-right: 56px;
}
footer a {
  height: 56px;
}
footer .router-link-active {
  color: var(--accent-color);
}

/* modal */
.modal-background, .modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}
.modal-background {
  background: rgba(0, 0, 0, .5);
  z-index: 100;
}
.modal-content {
  position: absolute;
  width: 90%;
  max-width: 480px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--window-background);
  padding: 16px;
  z-index: 150;
  animation: fadeInModal .5s;
}
.modal-content > h2 {
  margin: 0 0 16px;
}
.modal-content > .button-bar {
  margin-top: 16px;
  text-align: right;
}
.modal-content > .button-bar > button {
  margin: -8px 0;
  padding: 8px;
}

/* achievement */
.achievement {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: fit-content;
  padding: 16px 32px;
  border-radius: var(--border-radius-4x);
  overflow: hidden;
  z-index: 100;
}
.achievement.normal {
  animation: fadeInModal .5s;
}
.achievement.reverse {
  animation: fadeInModal .5s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}
.achievement > .material-icons-round {
  margin-right: 8px;
}

/* setup */
.setup-image {
  position: absolute;
  clip-path: ellipse(125vw 50vh at 100% 0);
  top: 0;
  left: 0;
  right: 0;
  height: 50vh;
  background: #000 center/cover no-repeat;
  z-index: -1;
}
.setup-image.welcome {
  background-image: url('../images/setup/welcome.jpg');
}
.setup-image.info {
  background-image: url('../images/setup/info.jpg');
}
.setup-image.well-being {
  background-image: url('../images/well-being/1.jpg');
}
.setup-image.nutrition {
  background-image: url('../images/food/breakfast.jpg');
}
.setup-image.fitness {
  background-image: url('../images/exercises/1.jpg');
}
.setup-image.finish {
  background-image: url('../images/setup/finish.jpg');
}
.setup-text {
  margin: auto;
  margin-top: 50vh;
  margin-bottom: 32px;
  text-align: center;
}
.setup-input {
  width: 75%;
  text-align: center;
  border-radius: var(--border-radius-4x);
}
select.setup-input {
  -webkit-appearance: none;
  text-align-last: center;
}

/* exercises */
.card.exercise {
  height: calc(33vh - 48px);
  max-height: 256px;
}
div.large-app-bar {
  background: #000;
}
h2.large-app-bar {
  position: relative;
  margin: 0;
  padding: 128px 16px;
  text-shadow: 0 0 6px rgba(0,0,0,.5);
  color: var(--text-color-dark);
  text-align: center;
  z-index: 0;
}
main.large-app-bar {
  position: relative;
  margin-top: -32px;
  border-radius: var(--border-radius-4x) var(--border-radius-4x) 0 0;
  background: var(--window-background);
  z-index: 1;
}

/* food */
.card.food {
  height: 96px;
}

/* account */
#profile-icon {
  font-size: 72px;
  align-self: center;
}
.item-caption {
  display: block;
  margin-bottom: -4px;
}

/* lite */
.lite {
  color: var(--text-color-dark);
  text-align: center;
  border: 0;
  padding: 64px 24px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: .5px;
}
.lite.small {
  padding: 24px;
}

/* images */
div.large-app-bar.well-being > h2 {
  background: var(--background-dim), url('../images/well-being/1.jpg') no-repeat center/cover;
}
div.large-app-bar.exercises > h2 {
  background: var(--background-dim), url('../images/exercises/1.jpg') no-repeat center/cover;
}
div.large-app-bar.healthy > h2 {
  background: var(--background-dim), url('../images/food/healthy.jpg') no-repeat center/cover;
}
div.large-app-bar.casual > h2 {
  background: var(--background-dim), url('../images/food/casual.jpg') no-repeat center/cover;
}
.lite.general {
  background: var(--background-dim-2), url('../images/setup/welcome.jpg') no-repeat center/cover;
}
.lite.well-being {
  background: var(--background-dim-2), url('../images/well-being/1.jpg') no-repeat center/cover;
}
.lite.exercises {
  background: var(--background-dim-2), url('../images/exercises/1.jpg') no-repeat center/cover;
}
.lite.nutrition {
  background: var(--background-dim-2), url('../images/food/lunch.jpg') no-repeat center/cover;
}

/* charts */
.frappe-chart .x.axis .line-vertical {
  display: none;
}
.frappe-chart .y.axis .line-horizontal {
  display: none;
}

/* loading screen */
#loading_screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--window-background);
  z-index: 100;
}
#loading_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#loading_content > p {
  margin-top: 64px;
  text-align: center;
}
.balls {
  width: 96px;
  display: flex;
  margin: auto;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.balls div {
  width: 16px;
  height: 16px;
  margin: 4px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transform: translateY(-100%);
  animation: wave 0.8s ease-in-out alternate infinite;
}
.balls div:nth-of-type(1) {
  animation-delay: -0.8s;
}
.balls div:nth-of-type(2) {
  animation-delay: -0.4s;
}
.balls div:nth-of-type(3) {
  animation-delay: -0.2s;
}
main.wavy > *:not(.fab) {
  animation: wave 2s ease-in-out alternate infinite;
  animation-delay: -1s;
}
@keyframes wave {
  from {transform: translateY(-100%);}
  to {transform: translateY(100%);}
}

/* radial progress bar */
circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

/* media queries */
@media (min-width: 720px) {
  /* alignment */
  .grid-row-span {
    grid-row: 1 / 3;
  }
  .grid-1-2 {
    grid-template-columns: repeat(2, 2fr);
  }
  .grid-1-3 {
    grid-template-columns: repeat(3, 3fr);
  }

  /* exercises */
  div.large-app-bar {
    background: var(--window-background);
  }
  h2.large-app-bar {
    border-radius: var(--border-radius-2x);
    margin: 16px auto 0;
    max-width: 684px;
  }
  main.large-app-bar {
    margin-top: 0px;
  }
  .nav-icon.transparent {
    color: var(--text-color-secondary);
  }
}

/* support queries */
@supports (-webkit-background-clip: text) {
  .link-list .material-icons-round, .material-icons-round.accent, footer .router-link-active > span {
    background: var(--accent-color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
